.upload-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000026;
  z-index: 2;
  left: 0;
}

.upload-image {
  width: 600px;
  height: 450px;
  background: white;
  margin: 4em auto;
  border-radius: 10px;
  padding-top: 2.5em;
}

.upload-image-title {
  padding-bottom: 0.5em;
  font-family: system-ui;
  font-weight: 400;
}

.upload-image-form {
  width: 450px;
  height: 70%;
  margin: 0 auto;
  border: 1px solid #0000008a;
  border-style: dashed !important;
}

.upload-image-form label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
}

#upload-image-input {
  display: none;
}

.save-btn,
.cancel-btn {
  padding: 0.4em 0.5em;
  margin: 1em 4em;
  border: none;
  border-radius: 5px;
  font-family: system-ui;
  color: #fff;
  font-size: 1em;
  margin-bottom: 0;
}

.save-btn {
  background: #2a80c9;
}

.cancel-btn {
  background: #f73434;
}

.upload-icon {
  width: 100%;
  font-size: 2em;
  padding: 0.5em;
  display: block;
}

.upload-text {
  font-size: 1.1em;
}

.upload-image-before-save {
  max-width: 100%;
  max-height: 100%;
}
